.box{
	height:150px; 
	width:250px;
	background-color: green;
	border: 2px solid black;
	margin: 5px auto;
}
.box1:hover{
	background-color: blue;	
}
.box2{
	transition-property: all;
	transition-duration: 0.8s;
	transition-delay:0.2s;
	transition-timing-function: ease;
	color:yellow;
}
.box2:hover{
	background-color: black;
	transform-origin: 0 50%;
 	transform: perspective(700px) rotateY(60deg);
}
.box3{
	transition: all 1s 0.2s ease-out;
}
.box3:hover{
	background-color: red;
	width: 450px;
	height:300px;
}
.box4{
	transition: all 1s cubic-bezier(.1, .9, .9, 1.5);
}
.box4:hover{
	background-color: red;
	transform:rotate(360deg) scale(0.10);
}
.box5{
	transition: all 150s ease-out; 
}
.box5:hover{
	background-color: red;
	transform:scale(0.10); 
}
.box6{
	transition: all 1s ease;
}
.box6:hover{
	background-color:indigo;
	transform:translate(50px,50px);
}
.box7{
	transition: all 1s ease-in;
}
.box7:hover{
	background-color: indigo;
	transform:skew(150deg,-15deg);
	border-radius: 50%;
}