body{
	background-image: url( flower.jpg);
	background-repeat: no-repeat;
	background-position: 50% -50%;
	/*background-attachment: fixed;*/
	height: 100vh;
	background-clip: content-box;
	background-size: 100% 100%;
	

}
img{
	filter: sepia(100%);
	transition: 1s linear;

}
img:hover{
	filter: sepia(0);
	transform: translate(0, 50px);
}